body {
	background-color: black;
	color: whitesmoke;
}

button {
	width: max-content;
	margin-top: 20px;

}

#stats-container {
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	width: max-content;
	display: flex;
	align-items: center;
}

#stats {
	list-style-type: none;
}

#game-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#title {
	font-family: 'Bebas Neue', cursive;
	width: max-content;
}

#screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	text-align: center;
	height:550px;
	width: 600px;
	border: 3px solid whitesmoke;
}

#form input {
	height: 34px;
}

#form button {
	height: 40px;
	width: 90px;
}

#player-options {
	width: 600px;
	display: flex;
	justify-content: space-evenly;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
}